.items{
    padding-top: 64px;
}

.itemsWrapper {
    margin-bottom: 5rem;
}

.itemsTitleDisplay{
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
}

.itemsTitle{
    font-weight: 400;
    font-size: 22px;
}

.itemsPopularLink{
    color: #017580;
    font-size: 15px;
}

.itemsCards{
    display: flex;
    justify-content: center;
    gap: 13px;
}

.itemsArrows{
    display: none;
}

.itemsCardInfos{
    padding: 8px;
}

.itemCard{
    width: 200px;
    height: 388px;
}

.itemsCardcover{
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 12px;
}

.itemsCardProfile{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.itemsCardName{
    font-size: 12Px;
    font-weight: 300;
    padding-left: 10px;
    color: #757575;
}

.itemsCardImage{
    width: 200px;
    height: 320px;
    object-fit: cover;
}

.itemsCardPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.itemsCardInfo{
    display: flex;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin-left: -70px;
    border: 2px solid;
    border-radius: 8px;
    font-size: 12px;
    color: #a9a9a9;
    cursor: pointer;
}

.itemsCardHeart{
    display: flex;
    align-items: center;
    color: #757575;
    cursor: pointer;
    gap: 4px;
}

.itemsCardIcon{
    font-size: 18px;
    color: #a9a9a9;
}

.itemsCardScrore{
    font-size: 12px;
}

.itemsCardDesc{
    color: #757575;
    font-size: 12px;
}

.itemsCardSubtitle{
    font-weight: 300;
}

.itemCardBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    width: 200px;
    height: 388px;
    cursor: pointer;
    color: #757575;
}

.itemCardBackground:hover{
    background: #e8e8e8;
}

@media screen and (max-width: 1024px) {
    .itemsTitleDisplay {
        width: 95%;
    }
    .itemsCards {
        width: 95%;
        margin: auto;
        justify-content: flex-start;
        overflow: auto;
    }

    .itemsArrows{
        display: flex;
        justify-content: space-between;
        width: 87%;
        margin: auto;
    }

    .itemsArrow{
        position: absolute;
        top: 53rem;
        background: #0000005c;
        color: white;
        width: 33px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 32px;
    }

    .itemArrowPositionRight{
        left: 58rem;
    }

}

@media screen and (max-width: 768px) {
    .itemArrowPositionRight {
        left: 43rem;
    }
}

@media screen and (max-width: 425px) {
    .itemsWrapper {
        margin-top: 7rem;
    }

    .itemsArrow{
        top: 47rem;
    }

    .itemArrowPositionRight {
        left: 23rem;
    }
}

@media screen and (max-width: 375px){
    .itemArrowPositionRight {
        left: 20rem;
    }
}

@media screen and (max-width: 320px){
    .itemsArrow {
        top: 46rem;
    }
    
    .itemArrowPositionRight {
        left: 17rem;
    }
}