.banner{
    padding-top: 6rem;
}

.bannerBackgroung{
    background-image: url(https://tinyurl.com/2qcxb4vz);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
}

.bannerCard{
    position: relative;
    top: 87px;
    left: 94px;
    background: white;
    width: 390px;
    height: 320px;
    padding: 30px;
    border-radius: 8px;
    z-index: 0;
}

.bannerTitle{
    font-size: 30px;
    font-weight: 400;
    padding: 12px 0 53px 0;
}

.bannerTitleTwo {
    display: none;
}

.bannerButton{
    width: 330px;
    height: 46px;
    background: #017580;
    color: white;
    font-size: 16px;
    margin-bottom: 9px;
    border-radius: 4px;
    cursor: pointer;
}

.headerLinkHelp{
    color: #017580;
    font-size: 13px;
    cursor: pointer;
}

.bannerSvg{
    background-image: url(https://tinyurl.com/2lz7tn6u);
    height: 20rem;
    background-repeat: no-repeat;
    margin: 113px 0 0 48rem;
}

@media screen and (max-width: 1024px){
    .bannerCard{
        left: 16px;
    }

    .bannerSvg{
        margin: 120px 0 0 27rem;
    }
}

@media screen and (max-width: 768px) {
    .bannerCard{
        left: 25px;
    }

    .bannerSvg{
        margin: 131px 0 0 21rem;
    }
}

@media screen and (max-width: 425px) {
    .bannerBackgroung {
        background-size: contain;
        height: 273px;
    }
    .bannerCard{
        top: 16rem;
        left: 18px;
        width: 394px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bannerTitle {
        display: none;
    }

    .bannerTitleTwo {
        display: flex;
        font-size: 20px;
        font-weight: 400;
        padding: 12px 0 18px 0;
        text-align: center;
    }

    .bannerButton {
        width: 400px;
    }

    .bannerSvg {
        margin: -6rem 0 0 -2rem;
    }
}

@media screen and (max-width: 375px) {
    .banner {
        padding-top: 5rem;
    }

    .bannerCard {
        left: 28px;
        width: 320px;
    }

    .bannerButton {
        width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .banner {
        padding-top: 4rem;
    }

    .bannerCard {
        left: 0px;
    }

    .bannerButton {
        width: 315px;
    }

    .bannerSvg {
        margin: -7rem 0 0 -11rem;
    }

}